{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<body>
    <section class="text-gray-600 body-font overflow-hidden">
        <div class="container bg-gray-100 px-5 py-24 mx-auto">
            <div class="lg:w-4/5 mx-auto flex flex-wrap">
                <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                    <h2 class="text-sm title-font text-gray-500 tracking-widest">LEAD NAME</h2>
                    <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{lead.first_name}} {{lead.last_name}}</h1>
                    <div class="flex mb-4">
                        <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1" href="{% url 'leads:lead-detail' lead.pk %}" style="text-decoration: none;"
                            >Description</a>
                        &emsp14;<a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1" style="text-decoration: none;"
                            href="{% url 'leads:lead-update' lead.pk %}">EDIT DETAILS</a>
                        &emsp14;<a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1" style="text-decoration: none;"
                            href="{% url 'leads:lead-category-update' lead.pk %}">CATEGORY</a>
                    </div>
                    <div class="container" style="margin-top:10px;padding-top:10px;width:450px;">
                        <form method="POST">
                            {% csrf_token %}
                            {{form|crispy}}
                            <center><button type="submit" class="btn btn-primary"> DONE </button></center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

{% endblock content %}
